body {
    background: #212121;
    color: #cedbde;
    font-family: sans-serif;
    margin: 0;
}

.game {
    text-align: center;
    width: 1010px;
}

.text {
    margin: 0 auto;
    width: 960px;
}
